*{margin: 0px;
padding: 0;}

html{height:100%;}




body{
    background-color: white;
    background :url(../img/2.png) no-repeat center center ;
    
    background-size: cover;
    color:black;
    overflow:hidden;

}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    background-color: #000000;

	border-radius: 50%;

	width: 24px;

	height: 24px;
    position: absolute;
  top: 24px;
    right: 24px;
    z-index: 0;

    
  }
  button img{
      width: 12px;
  }

/* .river p{
    text-align: center;
} */
#wrap{
    position: relative;
}

#wrap canvas, #overlay{
    position: absolute;
}
.canvas{width: 100%;}

#overlay{width: 100%;}

.dropdown {
    position: absolute;
    top: 24px;
    left: 24px;
    display: inline-block;
    position: absolute;

	top: 18px;

	right: 18px;

	text-align: center;

	background-color: #000000;

	border-radius: 50%;

	width: 24px;

	height: 24px;

	font-size: 14px;

	line-height: 26px;

	cursor: default;
    color: #fff;
    font-weight: bold;
  }
  
  .dropdown-content {
    margin: 8px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 360px;
    border: 1px solid grey;
    color: black;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    padding: 12px 16px;
    z-index: 1;
    text-align: left;
    font-weight: normal;
  }

  .dropdown-content h6{
   font-weight: normal;

  }

  .dropdown-content h5{
    font-weight: normal;
    text-align: end;
 
   }

  .dropdown:hover .dropdown-content {
    display: block;
  }



.river{
    position: absolute;
    width: 100%;
    font-size: 9pt;
    opacity: 0.7;
    text-align: center;
}




.river marquee .small{
    font-size: 5pt;
    /* opacity: 0.5; */
    }

.center{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
    /* margin-top: 50px; */
    width: 100%;
    height:100vh;
    flex-direction: column;
    overflow: hidden;
    left: 25px;
    top:-5px;
    
}

@keyframes aaa {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: 15px;
        top: 0px;
    }
    100% {
        left: 0px;
        top: 0;
    }
    }
    .stage {
    
        position: relative;
        align-items: center;
    justify-content:center;
        margin-top: 00px;
       
    }
    .stage:hover .ball {
        animation-name: aaa;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-delay: .2s;
        animation-iteration-count: infinite;
    }
    .ball {
        
       
        position: absolute;
    
    }

.alone{
    font-weight: 800;
    margin-bottom: -250px;
    margin-left: 60px;
    /* text-align: center; */
    font-size: 12pt;

    

}

.goliath img{

    width: 600px;
    
    /* width: 20%; */
    
    /* margin-top: 00px; */
    /* margin-right: 300px; */
    /* position: absolute; */
    /* top:75%;
    left:75%; */
    
    /* opacity: 0.7; */
}


/* .goliath img{
    /* display: block;  */
    /* margin: 0px auto; */
    /* width: 40%;} */
   
   

    